.tasks {
  .task {
    display: flex;
    > * {
      padding: 1em;
    }
  }
}
.searchForm{
    > span {
        margin-left: 1em;
    }
    > span:before {
        content: 'count:'
    }
}