<div class="mainContent">
  <h2>task list</h2>
  <div class="createForm">
    <input type="text" placeholder="add task title" [(ngModel)]="task.title" (keydown)="createFormKeyDown($event)">
    <button (click)="create()">Add</button>
  </div>
  <div class="searchForm">
    <input type="text" placeholder="search title" [(ngModel)]="searchTitle" (input)="search($event.target.value)">
    <span>{{tasks.length}}</span>
  </div>
  <div class="tasks">
    <div *ngFor="let task of tasks" class="task">
      <div class="id">{{task.ID}}</div>
      <div class="completed">
        <input type="checkbox" [checked]="task.COMPLETED_AT != null" (click)="updateComplete(task.ID, $event)">
      </div>
      <div class="title">{{task.TITLE}}</div>
      <div class="detail">{{task.DETAIL}}</div>
    </div>
  </div>
</div>